.container {
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;

  @media (min-width: $screen-md) {
    padding-right: $container-padding-md;
    padding-left: $container-padding-md;
  }

  &--no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$grid-gutter / 2;

  &.row--no-gutter {
    margin: 0;
  }
}

$screen-sizes: (
  xs 0,
  sm $screen-sm,
  md $screen-md,
  lg $screen-lg,
  xl $screen-xl
);

[class*="col-"] {
  display: block;
  width: 100%;
  padding: $grid-gutter / 2;

  .row--no-gutter > & {
    padding: 0;
  }
}

@each $screen-size in $screen-sizes {
  $size-name: nth($screen-size, 1);
  $size-width: nth($screen-size, 2);

  @media (min-width: $size-width) {
    @for $i from 1 through $cols {
      .col-#{$size-name}-#{$i} {
        width: 100% / $cols * $i;
      }

      .col-#{$size-name}-push-#{$i} {
        margin-left: $col-width * $i;
      }

      .col-#{$size-name}-pull-#{$i} {
        margin-right: $col-width * $i;
      }

      .col-#{$size-name}-offset-#{$i} {
        position: relative;
        left: $col-width * $i;
      }
    }
  }
}
