@mixin background-image($size: cover, $position: center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}
@mixin flex(
  $flex-direction: row,
  $align-items: center,
  $justify-content: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin font($family: $font-family, $weight: $font-normal, $size: 1rem) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}
